.p,.declare_centent,.modal_content{ 
    text-align: left;
}

.declare_centent{
    padding-bottom: 100px;
}

.paymentProtocol{
    width: 100%;
    margin-top: 100px;
    .content{
      text-indent: 25px;
      margin-top: 15px;
      span{
        font-weight: 900;
      }
    }
  }



  .agriculture{
      margin-top: 100px;
      .content{
          text-indent: 25px;
      }
      .weight{
          font-weight: 900;
      }
  }

  .attractInvestment{
      margin-top: 100px;
      line-height: 30px;
      .content{
        text-indent: 25px;
    }
    .weight{
        font-weight: 900;
    }
  }

  .IndustryAndCommerce{
    margin-top: 100px;
    line-height: 30px;
    .content{
        text-indent: 25px;
    }
    .weight{
        font-weight: 900;
    }
  }

  .construction{
    margin-top: 100px;
    line-height: 30px;
    .content{
        text-indent: 25px;
    }
    .weight{
        font-weight: 900;
    }
  }


  .BankOfChina{
    margin-top: 100px;
    line-height: 30px;
    .content{
        text-indent: 25px;
    }
    .weight{
        font-weight: 900;
    }
  }