@import "../../../assets/px2rem.scss";

.my {
  // background: #fff;
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    // background: red;
    .lindang-iconfont {
      height: 23px;
    }
  }
  .header .am-navbar .am-navbar-light{
    background: #f7f5f3;
  }

  .am-pull-to-refresh-indicator {
    font-size: 14px;
    color: #444d54;
  }
  .am-pull-to-refresh-indicator {
    margin-bottom: 15px;
    .am-icon-md {
      width: px2rem(35);
      height: 35px;
      background-image: url(../../../assets/image/loading.gif);
      margin: -15px 0 15px 0;

      use {
        display: none !important;
      }
    }
  }

  .login {
    background: #f7f5f3;
    display: flex;
    position: relative;
    padding-top: px2rem(45);

    .headPortrait {
      margin: px2rem(17) px2rem(14) px2rem(48) px2rem(16);
      img {
        width: px2rem(64);
        height: px2rem(64);
      }
    }

    .enter {
      position: relative;
      p {
        display: block;
        border: none;
        margin-top: px2rem(20);
        font-size: 22px;
        line-height: 40px;
        background: none;
        color: #444d54;
      }

      .login-title {
        font-size: 12px;
        color: #444d54;
        line-height: 5px;
        // margin-top: 12px;
        display: block;
        span {
          padding-left: 3px;
        }

        i {
          color: #e1514c;
        }
      }
    }
    .sgin {
      height: 26px;
      color: #fff;
      position: absolute;
      right: px2rem(15);
      top: px2rem(68);
      display: flex;
      text-align: center;

      span {
        display: block;
        height: 14px;
        line-height: 14px;
        font-size: 14px;
        text-align: center;
        padding: 7px 10px;
        // width: 54px;
      }
    }
    .sgin::before {
      border: none !important;
    }
  }
  .list {
    position: relative;
    background: #fff;

    .ious {
      left: 15px;
      width: px2rem(345);
      height: px2rem(90);
      position: absolute;
      top: -22px;
      background: #fff;
      border: 1px solid #F4F4F4;
      display: flex;
      border-radius: 4px;

      .limit {
        width: 50%;
        p {
          font-size: 10px;
          color: #444d54;
          line-height: 14px;
          text-align: center;
          margin: 22px 0 3px 0;
        }
        span {
          display: block;
          font-family: "HelveticaNeue";
          font-size: 24px;
          color: #444d54;
          letter-spacing: 0;
          text-align: center;
          margin-bottom: 23px;

          i {
            font-family: "PingFangSC-Regular";
            font-size: 12px;
            color: #e1514c;
          }
        }
      }
    }
    .am-list {
      .am-list-body::before {
        height: 0;
      }
      .am-list-body::after {
        margin: 0 px2rem(35) 0 px2rem(20);
        width: auto;
      }
      .am-list-line::after {
        width: auto;
        margin: 0 px2rem(35) 0 px2rem(20);
      }
      .am-list-content {
        height: px2rem(27);

        .size {
          height: px2rem(27);
          display: flex;
          align-items: center;

          i {
            font-size: 14px;
            color: #e1514c;
            letter-spacing: 0;
            text-align: right;
            flex: auto;
          }
        }
      }
      i {
        font-size: 23px;
        line-height: 27px;
      }

      span {
        display: inline-block;
        margin-left: px2rem(10);
        line-height: 27px;
        font-size: 14px;
        color: #3f4850;
      }
    }
    .my-list {
      padding-top: px2rem(70);
    }
    .kong {
      background: #f9faf9;
      width: 100%;
      height: 10px;
    }
    .outlogin {
      width: 100%;
      background: #f9faf9;
      b {
        display: inline-block;
        width: px2rem(319);
        height: 44px;
        font-size: 16px;
        line-height: 44px;
        color: #444d54;
        letter-spacing: 0;
        text-align: center;
        margin: px2rem(30) px2rem(28);
        border: 1px solid #ccc;
        border-radius: 22px 0 22px 0;
        background: #f9faf9;
      }
    }
  }
}

.signIn {
  img {
    width: px2rem(180);
  }
}

.am-list-item {
  padding: 0 px2rem(15);
}

.am-list-item .am-list-line-multiple {
  padding: 12.5px 0;
}

.am-navbar-light .am-navbar-title {
  color: #444d54;
}
.am-modal-close-x {
  margin: px2rem(3);
}

.am-modal.am-modal-operation .am-modal-content .am-modal-button:nth-of-type(2){
  color: red;
}

.am-modal-button-group-h .am-modal-button{
  color: #000;
}
