@import "./assets/px2rem.scss";

.am-toast-notice-content .am-toast-text {
  background-color: rgba(0, 0, 0, 0.8);
}

.faceRecognition {
  .logo {
    img {
      width: px2rem(201);
      margin: px2rem(54) px2rem(87) px2rem(32) px2rem(87);
      display: block;
    }

    p {
      font-size: 16px;
      color: #444d54;
      letter-spacing: -0.39px;
      text-align: center;
      line-height: 22px;
    }
    .hint {
      display: flex;
      justify-content: space-around;
      margin-top: px2rem(70);

      li {
        div {
          display: flex;
          flex-direction: column;

          img {
            display: block;
            width: px2rem(58);
            height: px2rem(58);
            margin: 0 auto;
          }

          p {
            font-size: 14px;
            line-height: 20px;
            color: #444d54;
            margin-top: px2rem(13);
            letter-spacing: -0.34px;
            text-align: center;
          }
        }
      }
    }
  }

  .next {
    display: block;
    background: #e1514c;
    width: px2rem(319);
    height: px2rem(44);
    border: none;
    border-radius: 16px 0 16px 0;
    padding: px2rem(13.5) 0;
    position: absolute !important;
    left: 28px;
    bottom: 26px;
    color: #fff;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }
  .next::before {
    border: none !important;
  }

  .am-button-disabled {
    background: #bdbdbd;
  }

  .am-activity-indicator-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
  }
  .am-activity-indicator-spinner {
    background-image: url(./assets/image/new_loader.png);
    width: 86px;
    height: 86px;
    background-size: 100%;
    border-radius: 8px;
  }
}

.loader_wrap{
  width: 118px;
  height: 118px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -47px 0 0 -59px;
  border-radius: 14px;
  background-color: #171717;
  font-size: 14px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.loader_img{
  width: 25px;
  height: 25px;
  background-image: url(./assets/image/loader_logo.png);
  background-repeat:no-repeat;
  background-size:cover;
  margin-bottom: 10px;
}
.loader_text{
  position: relative;
    bottom: -26px;
    color: #fff;
  
}

.am-navbar-light .am-navbar-title {
  color: #444d54;
  font-size: 17px;
}
