@import "./assets/px2rem.scss";

.am-toast-notice-content .am-toast-text{
  background-color: rgba(0, 0, 0, 0.8);
}


.forgetPassword {
  .set {
    .am-list-body {
      .am-list-item {
        .am-list-line {
          .am-input-label {
            color: #454f55;
          }
          .am-input-control {
            input {
              text-align: right;
            }
          }
        }
      }
    }
    .am-list-body::after {
      width: px2rem(344);
      margin: 0 px2rem(15);
    }
  }

  .authCode {
    p {
      line-height: 52px;
      margin: 0 px2rem(18);
      font-size: 17px;
      color: #454f55;
    }

    .am-list-body {
      .am-list-item {
        .am-list-line {
          .am-input-label {
            color: #454f55;
            width: 0;

            .coundDown {
              width: px2rem(80);
              height: 30px;
              position: absolute;
              right: 15px;
              top: 13px;
              border: 1px solid #e0514c;
              border-radius: 4px;
              color: #e0514c;
              text-align: center;

              span {
                display: block;
                font-size: 14px;
                line-height: 30px;
              }
            }
          }

        }
      }
    }
    .am-list-body::after {
      width: px2rem(344);
      margin: 0 px2rem(15);
    }
  }

  .next {
    display: block;
    background: #e1514c;
    height: px2rem(44);
    border: none;
    border-radius: 16px 0 16px 0;
    padding: px2rem(13.5) 0;
    margin: px2rem(121) px2rem(28) 0 px2rem(28);
    color: #fff;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }
  .next::before {
    border: none !important;
  }

  .am-button-disabled {
    background: white;
  }

  .error {
    color: #e1514c;
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-top: px2rem(5);
  }
}
.am-navbar-light .am-navbar-title{
  color: #444d54;
  font-size: 17px;
}
.am-list-item .am-list-line .am-list-content,
.am-list-item .am-input-label,
.am-list-item .am-list-line .am-list-extra,
.am-list-item .am-input-control input
{
  font-size: 14px;
}

.forgetPassword .set .am-list-body .am-list-item .am-list-line .am-input-control input{
  margin: 0px -12px;
  color: #444d54;
}

.am-list-item.am-input-item{
  height: 56px;
  .am-input-clear{
    width: 16px;
    height: 16px;
    background-size: 23px 21px;
    background-position: -1px 0px;
  }
}

.forgetPassword .authCode .am-list-body .am-list-item .am-list-line .am-input-label .coundDown span{
  background: white;
}

html:not([data-scale]) .am-list-body div:not(:last-child) .am-list-line{
  border-top: 1px solid #FAFAFA;
}