
.rateCalc {

  .am-toast-notice-content .am-toast-text{
    background-color: rgba(0, 0, 0, 0.8);
  }


  .am-list {
    .am-list-body {
      &::after {
        height: 0 !important;
      }

      .am-list-item {
        min-height: 74px;

        &.tags{
          .am-list-line{
            padding-right: 0;
            // border-bottom: 1px solid #F2F2F2;
          }
          .am-list-item .am-list-item-middle .am-list-line{
            border-bottom: 3px solid #F2F2F2;
          }
        }
        .am-list-line {
          .am-input-label {
            font-size: 14px;
            color: #3F4850;

            &.am-input-label-5 {
              width: 100px;
            }
          }

          .am-input-control {
            input {
              color: #444D54;
              font-size: 30px;
            }
            .fake-input-container {
              .fake-input{
                font-size: 30px;
              }
            }
          }

          .am-list-content {
            font-size: 14px;
            color: #3F4850;

            .am-list-brief {
              .am-flexbox-item {
                .am-button {
                  height: 36px;
                  line-height: 36px;
                  border: 1px solid #ddd;
                  border-radius: 2px;

                  &::before {
                    border: none;
                  }

                }
              }
            }
          }

          .am-list-extra {
            font-size: 14px;
            color: #3F4850;
          }
        }
        .am-list-line-multiple{
          .am-list-content{
            padding-top: 14px;
            padding-bottom: 9px;
          }
        }
      }
    }
  }
}
