@import "./assets/px2rem.scss";

.setPassword {

  .am-toast-notice-content .am-toast-text{
    background-color: rgba(0, 0, 0, 0.8);
  }

  .am-list {
    .am-list-body {
      .password {
        height: 55px;
        position: relative;

        .am-list-line {
          margin-right: 15px;

          .am-list-line::after {
            width: px2rem(344);
            margin-left: px2rem(15);
          }
          .am-input-label {
            font-size: 14px;
            color: #454f55;
            letter-spacing: 0;
            line-height: 20px;
          }
          .am-input-control {
            margin-right: 3px;
            input {
              text-align: right;
              font-size: 14px;
              color: #ababab;
              letter-spacing: -0.34px;
            }
          }
        }
      }
      .visible {
        position: absolute;
        top: 16px;
        right: 13px;

        .eye {
          width: px2rem(19);
          display: inline-block;
        }
      }
    }
    .am-list-body::before {
      height: 0;
    }

    .am-list-body::after {
      height: 0;
    }
  }

  .next {
    display: block;
    background: #e1514c;
    height: px2rem(44);
    border: none;
    border-radius: 22px 0 22px 0;
    padding: px2rem(13.5) 0;
    margin: px2rem(121) px2rem(28) 0 px2rem(28);
    color: #fff;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }
  .next::before {
    border: none !important;
  }

  .am-button-disabled {
    background: #BDBDBD;
  }
}

.error {
  color: #e1514c;
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-top: px2rem(5);
}

.succeed {
  display: block;
  img {
    display: block;
    width: px2rem(62);
    height: px2rem(62);
    margin: px2rem(80) px2rem(156) px2rem(24) px2rem(156);
  }
  p {
    font-size: 16px;
    color: #606060;
    letter-spacing: -0.39px;
    text-align: center;
    line-height: 22px;
  }
}
.am-navbar-light .am-navbar-title{
  color: #444D54;
}
